.PopUp {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 3vw;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    direction: rtl;
    display: flex;
    flex-direction: column;
    grid-gap: 2vh;
}

.buttonSmall{
   margin-right: 15px;
}