.ShoppingListPage {
    display: block;
    position: absolute;
    top: 11vh;
    right: 0;
    width: 25vw;
    height: 80vh;
    z-index: 1;
    padding: 1.5vw;
    border-radius: 4vw;
    background-color: wheat;
    border-radius: 2vw 0 0 2vw;;
    padding: 2vh;
}

.textBox {
    margin-bottom: 4vh;
}

.none {
    display: none;
}

.Block {
    display: block;
}

.ItemFamily {
    width: 80%;
    background-color: #fbf6f1;
    border-radius: 10px;
    height: 2vh;
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
}

.Chosen {
    background-color: #ffeebd;
}

.familyNameDiv {
    display: flex;
    justify-content: center;
}


.ShoppingListButton {
    display: flex;
    position: absolute;
    top: 11vh;
    right: 0;
    width: 5w;
    height: 2vh;
    z-index: 1;
    padding: 1.5vw;
    background-color: wheat;
    /* border-radius: 2vw 0 0 2vw;; */
    padding: 2vh;
    align-items: center;
}

.onHandButton {
    background-color: #28b481;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.1s ease, background-color 0.2s ease;
}

/* אפקט ריחוף */
.onHandButton:hover {
    background-color: #28b480;
}

/* אפקט לחיצה */
.onHandButton:active {
    transform: scale(0.96);
    background-color: #3e9143;
}
