.on-hand-container {
    padding: 2rem;
    direction: rtl;
    text-align: center;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    grid-column: 1 / -1;
}

.grid-title {
    grid-column: 1 / -1; /* מתפרס על כל העמודות */
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-direction: column; /* Stack vertically */
    gap: 1rem; /* Space between cards */
}

.item-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    display: flex;
    gap: 1rem;
    align-items: center;
}

.check {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: darkgreen;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.item-sub {
    font-size: 0.9rem;
    color: #444;
    direction: rtl;
}

.return-button {
    margin-top: 10px;
    padding: 6px 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}