.shoppingListBord {
    display: flex;
    justify-content: right;
    /* flex-direction: column; */
    /* align-items: center; */
    width: 100%;
}

.box {
    width: 24vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    /*align-items: center;*/
    border-radius: 10px;
    padding: 10px;
    margin: 4vh;
}

.topButton {
    font-family: "Calibri Light", "Calibri", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addItemTitle {
    font-family: "Calibri Light", "Calibri", sans-serif;
    display: block;
    font-size: 2.5rem;
    color: #ddc989;
    text-align: center;
    font-weight: bolder;
}

.boardSizeShoppingList {
    width: 40vw;
    height: 100vh;
}

.itemAmount {
    font-family: "Calibri Light", "Calibri", sans-serif;
    width: 11vw;
    border: solid #e4dfcf;
    border-radius: 5px;
    font-size: 1rem;
}

.itemInputAdd {
    font-family: "Calibri Light", "Calibri", sans-serif;
    width: 100%;
    height: 3vh;
    font-size: 1rem;
    border: solid #e4dfcf;
    border-radius: 5px;
}

.department-subtitle {
 font-size: 2.6rem;
}

.department-group {
    width: 80%;
}
.shoppingListTitle{
 font-size: 4rem;

}

.itemAmont {
    font-family: "Calibri Light", "Calibri", sans-serif;
    height: 20px;
    width: 70px;

}

.selectInput {
    font-family: "Calibri Light", "Calibri", sans-serif;
    background-color: #e4dfcf;
    border: 1px;
    border-radius: 5px;
}

.buttonAddItems {
    font-family: "Calibri Light", "Calibri", sans-serif;
    background-color: #e4dfcf;
    /* color: white; */
    border-radius: 5px;
    height: 3vh;
    width: 24%;

}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: white;
    position: absolute;
    width: 25%;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 30vh;
}

.autocomplete-list li {
    display: grid;
    height: 50px;
    padding: 8px;
    cursor: pointer;
}

.autocomplete-list li:hover {
    background-color: #eee;
}

.listEdit{
      margin-top: 0;
}