h2 {
    font-size: 3rem;
}

.ShoppingList {
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 100%;
    height: 80%;
    background-color: #fefdfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2vw;
    padding: 1vw;
    color: #354147;
    direction: rtl;


}

.board-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;


}

.scrollable {
    overflow-y: auto;
    padding: 10px;
}

.ff{
     width: 70%; 
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 2vh;
  }

.ItemShoppingList {
    width: 100%;
    display: grid;
    flex-direction: row;
    font-size: 2rem;
    gap: 10px;
    margin-bottom: 3vh;
    text-align: center;
}

.amountItem {

    font-size: 1rem;
    text-align: center;
    /* color: wheat;
    border-radius: 3vw; */
    grid-column: 2;
    grid-row: 2;
}

.priceItem {

    font-size: 1rem;
    text-align: center;
    /* color: wheat;
    border-radius: 3vw; */
    grid-column: 2;
    grid-row: 3;
}

.departmentItem {

    font-size: 1rem;
    text-align: center;
    /* color: wheat;
    border-radius: 3vw; */
    grid-column: 2;
    grid-row: 4;
}

.total-amount {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    direction: rtl;

}


.dateItem {

    font-size: 1rem;
    text-align: center;
    /* color: wheat;
    border-radius: 3vw; */
    grid-column: 2;
    grid-row: 5;
}

.circle {
    grid-column: 1;
    /* grid-row: 1 /2; */
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    align-items: center;

}

.itemText {
    grid-column: 2;
    grid-row: 1;
    direction: rtl;
}

.listItem {
    display: grid;
    grid-column: 2;
}

.uncheck {
    color: #414848;
}

.bigButton {
    background-color: #45b081;
    color: white;
    width: 90%;
    height: 5vh;
    font-size: 1.6em;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crossText {
    text-decoration: line-through;
}

.scrollable {
  /* height: 300px;  */
  overflow-y: auto; 
  /* border: 1px solid #ccc; */
  padding: 10px; 
}

.image {
    grid-column: 2;
    display: flex;
    align-items: center;
    width: 50px;
    height: 'auto';
}
.imageList {
    width: 70px;
    grid-column: 3;
}

.productName {
    grid-column: 1;
    width: 15vw;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}



.deleteEdit{
    grid-column: 4;
}